* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

.hero-section {
    background-color: #282c5c;
    color: white;
    text-align: center;
    padding: 50px 10px 140px 20px;
}

.hero-section h1 {
    font-size: 2.5rem;
    margin-bottom: 15px;
    font-weight: 400;
}

.hero-section p {
    font-size: 1rem;
    opacity: 0.8;
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.5;
}

.pricing-container {
    display: flex;
    justify-content: center;
    padding: 0 20px;
    gap: 20px;
    margin-top: -100px;
    flex-wrap: wrap;
}

.card {
    background: white;
    width: 300px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 1);
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease, border 0.2s ease;
    position: relative;
    border: 2px solid transparent;
}

.card:hover {
    transform: scale(1.05);
    z-index: 10;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 2);
}

.card.selected {
    border-color: #333;
    transform: scale(1.05);
}

.card-header {
    background-color: #3c4252;
    color: white;
    padding: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.badge {
    font-size: 0.7rem;
    background: transparent;
    padding: 2px 5px;
    border-radius: 2px;
    text-transform: none;
}

.card-body {
    padding: 30px;
    text-align: left;
}

.price {
    font-size: 3.5rem;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.price sup {
    font-size: 1.5rem;
    vertical-align: top;
    top: 0.5rem;
    position: relative;
}

.price .period {
    font-size: 1rem;
    color: #666 ;
    font-weight: normal;
}

.features {
    list-style: none;
    margin-bottom: 30px;
    color: #666;
    line-height: 2;
    padding-left: 10px;
}

.btn-buy {
    width: 100%;
    padding: 12px;
    background-color: #039be5;
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    transition: background 0.3s;
    border-radius: 4px;
}

.btn-buy:hover {
    background-color: #008;
}

.faq-section {
    text-align: center;
    padding: 80px 20px;
    max-width: 900px;
    margin: 0 auto;
}

.faq-section h2 {
    font-weight: 300;
    margin-bottom: 50px;
    color: #555;
    font-size: 1.8rem;
}

.faq-grid {
    display: flex;
    justify-content: space-between;
    text-align: left;
    gap: 40px;
    flex-wrap: wrap;
}

.faq-item {
    flex: 1;
    min-width: 300px;
}

.faq-item h3 {
    font-size: 1rem;
    margin: 10px;
    color: #555;
}

.faq-item p {
    font-size: 0.9rem;
    color: #666;
    line-height: 1.6;
}